<div class="container" id="section" style="width:inherit; border: 2px solid black;">

    <div class="header">
        <h1>Patient Card</h1>
        <h4>Date: {{getPatientDetails().dateOfVisit | date: "longDate"}}</h4>
    </div>

    <form [formGroup]="prescriptionForm" (ngSubmit)="savePrescription()" #f="ngForm">
        <div class="row">
            <div class="col-lg-6 col-mg-8 col-xs-12">
                <p>Id: <span class="data">{{getPatientDetails().id}}</span> </p>
                <p>Name: <span class="data">{{getPatientDetails().name}}</span> </p>
                <p>Age: <span class="data">{{getPatientDetails().age}}</span> </p>
                <label for="prescription">Prescription:</label>
            </div>
            <div class="col-lg-6 col-mg-8 col-xs-12 right-col">
                <p>Doctor:</p>
                <p><span class="data">{{getPatientDetails().doctorName}}</span> </p>
                <p> <span class="data-small">{{getPatientDetails().specialization}}</span> </p>
            </div>
            <div class="container" style="width:inherit; ">
                <!-- <input type="text" name="prescription" style="width: 100%; height: 200px"> -->
                <textarea *ngIf="!getPescriptionEnabled()" formControlName="prescription" name="prescription" id=""
                    cols="68" rows="10"
                    [disabled]="!getPescriptionEnabled()">{{getPatientDetails().prescription}}</textarea>
                <textarea *ngIf="getPescriptionEnabled()" cols="68" rows="10"
                    [disabled]="getPescriptionEnabled()">{{getPatientDetails().prescription}}</textarea>
            </div>
        </div>
        <div class="col-xs-12 col-xs-offset-5">

            <button class="btn btn-primary" *ngIf="getPescriptionEnabled()" style="margin: auto;"
                printSectionId="section" ngxPrint>Print the
                card</button>
            <button class="btn btn-primary" *ngIf="!getPescriptionEnabled()" style="margin: auto;">Save
                Prescription</button>
        </div>

    </form>
    <br>
    <br>
    <br>
</div>