<div class="container" style="width:inherit; border: 2px solid black;">

    <div class="header">
        <h1>Doctor Card</h1>
    </div>

    <div class="row">
        <div class="col-xs-12">


            <p>Name: <span class="data">{{getDoctorDetails().name}}</span> </p>
            <p>Specialization: <span class="data">{{getDoctorDetails().specialization}}</span> </p>
            <p>No of Patients: <span class="data">{{getDoctorDetails().noOfPatients}}</span> </p>
        </div>
    </div>

</div>